<div class="container d-flex">
  <div class="items ">
    <a value="All" name="All" [(ngModel)]="selectedCategory" (click)="onSelectingCategory()">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgLwC1Ha0v_FNcR3X2mKGVwYiuMIA3T-JIPw&usqp=CAU"
        alt="image" title="All">
      <!-- <b>Chicken</b> -->
    </a>
  </div>

  <div class="items ">
    <a value="Chicken" name="Chicken" [(ngModel)]="selectedCategory" (click)="onSelectingCategory()">
      <img src="https://images.pexels.com/photos/7394819/pexels-photo-7394819.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="image" title="Chicken Biryani">
      <!-- <b>Chicken</b> -->
    </a>
  </div>
  <div class="items">
    <a value="Mutton" name="Mutton" [(ngModel)]="selectedCategory" (click)="onSelectingCategory()">
      <img src="https://images.pexels.com/photos/9609846/pexels-photo-9609846.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="image" title="Mutton Biryani">
      <!-- <b>Mutton</b> -->
    </a>

  </div>
  <div class="items">
    <a value="Pizza" name="Pizza" [(ngModel)]="selectedCategory" (click)="onSelectingCategory()">
      <img src="https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="image" title="Pizza">
      <!-- <b>Pizza</b> -->
    </a>

  </div>
  <div class="items">
    <a value="Burger" name="Burger" [(ngModel)]="selectedCategory" (click)="onSelectingCategory()">
      <img src="https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="image" title="Burger">
      <!-- <b>Burger</b> -->
    </a>

  </div>
  <div class="items">
    <a value="Sweets" name="Sweets" [(ngModel)]="selectedCategory" (click)="onSelectingCategory()">
      <img
        src="https://images.pexels.com/photos/5084352/pexels-photo-5084352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="image" title="Sweets">
      <!-- <b>Sweets</b> -->
    </a>

  </div>

</div>






















<!-- <div class="container">
    <span>Filter:</span>
    
<input type="radio" name="all" value="all" 
[(ngModel)]="selectedRadioButtonValue"
(change)="onFilterRadioButton()" />
<span>{{'All'}}</span>

<input type="radio" name="all" value="available"
  [(ngModel)]="selectedRadioButtonValue" 
  (change)="onFilterRadioButton()" />
<span>{{'Available'}}</span>

<input type="radio" name="all" value="Notavailable" 
 [(ngModel)]="selectedRadioButtonValue"
 (change)="onFilterRadioButton()" />
<span>{{'Not Available'}}</span>
</div> -->