input{ 
    border-radius: 100px;
    width: 10px;
    height: 10px;
   margin-top: 0px;
   margin-left: -10px;
}
 img{
  border-radius: 50px;

 }
 .container{
  display:inline;
 }

image-cropper{
    height: 300px;
      border-radius: 50px;
    width: 300px;
   
}
button{
  margin-left: 400px;
  margin-bottom: 30px;
}

